.about-page {
    padding: var(--header-height);

    &.text {
        .points {
            display: none;
        }
    }

    &.points {
        .text {
            display: none;
        }
    }

    h1 {
        margin-bottom: 0;
    }

    h2 {
        margin-top: 1rem;
        margin-bottom: 0.25rem;
    }

    p {
        margin-bottom: 0.25rem;
        width: clamp(15rem, 100%, 60rem);
        line-height: 1.5rem;
    }

    .github-anchor {
        display: inline-flex;
        align-items: center;
        border-radius: 16px;
        font-weight: 500;
        color: var(--color-main-fg-faded);
        background-image: linear-gradient(90deg,
                var(--color-main-fg),
                var(--color-main-fg),
                var(--color-main-bg));
        background-position: 0% 100%;
        background-size: 0% 100%;
        background-repeat: no-repeat;
        padding: 0.5rem;
        transform: translateX(-0.5rem);
        transition: background-size 0.2s,
            color 0.2s;

        .svg-open-external {
            margin-left: 1rem;
            transition: stroke 0.3s;
        }

        &:hover {
            background-size: 200% 100%;
            color: var(--color-theme);

            .svg-open-external {
                stroke: var(--color-theme);
            }
        }
    }

    .expandable p {
        margin-top: 0;
    }
}