@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

:root {
    --color-main-bg: #F5F5F5;
}