@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Raleway&display=swap');

:root {
    --color-main-bg: #181e2b;
    --color-main-bg-glass: #181e2bd8;
    --color-main-fg: #f5f5f5;
    --color-main-fg-faded: #9a9caa;
    --color-main-fg-glass: #f5f5f580;
    --color-theme: #990f02;
    --color-theme-glass: #990f02c4;
    --color-theme-glass-border: #df2918de;
    --header-height: 4rem;
}

* {
    box-sizing: border-box;
    color: var(--color-main-fg);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: var(--color-main-bg);
    overflow-x: hidden;

    ::selection {
        background-color: var(--color-theme);
    }
}

a {
    text-decoration: none;
}