.svg-open-external {
    stroke: var(--color-main-fg);
    fill: transparent;
    stroke-width: 115px;
    stroke-miterlimit: 10;
    width: 1rem;
    height: 1rem;

    .cls-2 {
        fill: none;
    }
}