.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    height: var(--header-height);
    padding: 0 var(--header-height) 0 var(--header-height);
    background-color: var(--color-main-bg-glass);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    @media screen and (max-width: 640px) {
        display: none;
    }

    .brand {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;
    }

    .navigation {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        transform: translateX(20px); // Adjust for padding

        span {
            display: flex;
            align-items: center;
            margin-left: var(--header-height);
            list-style: none;

            a {
                position: relative;
                padding: 10px 20px;
                background-image: linear-gradient(var(--color-theme),
                        var(--color-theme),
                        rgba(0, 0, 0, 0) 90%);
                background-repeat: no-repeat;
                background-size: 100% 0;
                background-position: 0 0;
                transition: background-size 0.2s ease,
                    color 0.2s;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-image: linear-gradient(90deg,
                            transparent,
                            var(--color-theme) 33% 66%,
                            transparent);
                    background-size: 0 100%;
                    background-position: center 100%;
                    background-repeat: no-repeat;
                    height: 2px;
                    transition: background-size 0.5s;
                }

                &.active {
                    &::after {
                        background-size: 100% 100%;
                    }
                }

                &:hover {
                    background-size: 100% 200%;
                    color: var(--color-main-fg);
                }
            }
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 0.5rem;
        background: linear-gradient(180deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.2) 50%,
                rgba(0, 0, 0, 0) 100%);
    }
}