.section-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: fixed;
    z-index: 99;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);

    span {
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--color-main-fg-glass);
        backdrop-filter: blur(2px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
        transition: border-color 0.1s, background-color 0.5s;

        &:hover {
            border-color: var(--color-theme-glass-border)
        }

        &.active {
            background-color: var(--color-theme-glass);
            border-color: var(--color-theme-glass-border)
        }
    }
}